<template>
    <div>
        <div v-if="edits.length <= 0">
            Could not find history for {{ subject }}
        </div>
        <div v-if="edits.length >= 0">
            <div v-for="(edit, i) in edits" v-bind:key="i">
                User: {{ edit.user }}<br />
                Created: {{ edit.created }}<br /><br />
                <div v-html="diffToHTML(edit.diff)"></div>
                <br />
            </div>
        </div>
    </div>
</template>

<script>
import api from 'api';
import errors from '../errors';

export default {
    props: ['subject'],
    data() {
        return {
            edits: [],
        };
    },
    mounted() {
        api.subject
            .listEdits(this.subject)
            .then((edits) => {
                this.edits = edits;
            })
            .catch((error) => {
                errors.show(error);
            });
    },
    methods: {
        diffToHTML(diff) {
            var a = diff.split(/\n/g);
            for (var i = 0; i < a.length; i++) {
                if (a[i].charAt(0) == '>') {
                    a[i] = '<div style="color:green">' + a[i] + '</div>';
                } else if (a[i].charAt(0) == '<') {
                    a[i] = '<div style="color:red">' + a[i] + '</div>';
                } else {
                    a[i] += '<br />';
                }
            }
            return a.join('');
        },
    },
};
</script>
