<template>
    <div>
        <v-list-item @click="listSubjects()">
            <v-list-item-action>
                <v-icon>{{ icon.refresh }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>Refresh</v-list-item-content>
        </v-list-item>
        <v-list-item-group>
            <v-list-item
                v-for="subject in subjects"
                v-bind:key="subject.subject"
                link
                v-bind:to="subjectUrl(subject.subject)"
            >
                <v-list-item-action>
                    <v-icon>{{ icon.link }}</v-icon>
                </v-list-item-action>
                <v-list-item-content>{{ subject.title }}</v-list-item-content>
            </v-list-item>
        </v-list-item-group>
    </div>
</template>

<script>
import api from 'api';
import errors from '../errors';
import { mdiLink, mdiRefresh } from '@mdi/js';

export default {
    data() {
        return {
            subjects: [],
            polling: null,
            icon: {
                link: mdiLink,
                refresh: mdiRefresh,
            },
        };
    },
    created() {
        this.listSubjects();
        this.polling = setInterval(() => {
            this.$store.commit('setSubjects', { dirty: true });
        }, parseInt(process.env.VUE_APP_API_LIST_REFRESH_MS));
    },
    computed: {
        dirty() {
            return this.$store.state.subjects.dirty;
        },
    },
    watch: {
        dirty(val) {
            if (val) {
                this.listSubjects();
            }
        },
    },
    methods: {
        subjectUrl(subject) {
            return '/wiki/' + subject;
        },
        listSubjects() {
            api.subject
                .list()
                .then((subjects) => {
                    this.subjects = subjects;
                    this.$store.commit('setSubjects', {
                        dirty: false,
                        count: subjects.length,
                    });
                })
                .catch((error) => errors.show(error));
        },
    },
    beforeDestroy() {
        clearInterval(this.polling);
    },
};
</script>
