<template>
    <div v-bind:style="{ width: '100%', height: height + 'px' }" :id="id"></div>
</template>

<script>
import ace from 'ace-builds/src-min-noconflict/ace';
import 'ace-builds/src-min-noconflict/theme-github';
import 'ace-builds/src-min-noconflict/mode-markdown';

export default {
    props: ['id', 'content', 'disabled'],
    data() {
        return {
            editor: {},
            height: 0,
            prevLength: 0,
        };
    },
    watch: {
        disabled: function (val) {
            this.editor.setReadOnly(val);
        },
    },
    mounted() {
        this.editor = ace.edit(this.id);
        this.editor.setShowPrintMargin(false);
        this.editor.setAutoScrollEditorIntoView(true);

        // set to match src/App.vue
        this.editor.setOptions({
            fontFamily: 'Roboto Mono',
            fontSize: '16px',
        });

        this.editor.getSession().setMode('ace/mode/markdown');
        this.editor.setTheme(`ace/theme/github`);

        this.editor.on('change', () => {
            var length = this.editor.getSession().getLength();
            if (this.prevLength !== length) {
                this.prevLength = length;
                this.height = length * this.editor.renderer.lineHeight + 1;
                this.$nextTick(() => {
                    this.editor.resize();
                });
            }
            this.$emit('change-content', this.editor.getValue());
        });

        this.editor.setReadOnly(this.disabled);
        this.editor.setValue(this.content, 1);
        this.height =
            this.editor.getSession().getLength() *
                this.editor.renderer.lineHeight +
            1;
        this.$nextTick(() => {
            this.editor.resize();
        });
    },
};
</script>
