<template>
    <div>
        <div v-if="notFound">
            <h2>Not Found: {{ subject | readable }}</h2>
            <h3 v-if="signedIn">
                Create
                <a v-bind:href="'/wiki/__new?subject=' + subject">{{
                    subject | readable
                }}</a
                >?
            </h3>
            <h3 v-if="!signedIn">Sign in to create articles</h3>
        </div>
        <v-tabs v-if="!notFound" v-model="activeTab">
            <v-tab>View</v-tab>
            <v-tab @click="checkSignedIn">Edit</v-tab>
            <v-tab v-if="subject != '__new'" @click="forceRenderHistory"
                >History</v-tab
            >
            <v-tab-item v-html="render()" />
            <v-tab-item>
                <v-btn @click="save" v-bind:disabled="!changes || !signedIn"
                    >Save</v-btn
                >
                <markdown-editor
                    :id="editorId"
                    v-bind:content="content"
                    v-bind:disabled="!signedIn"
                    v-on:change-content="changeContent"
                ></markdown-editor>
            </v-tab-item>
            <v-tab-item v-if="subject != '__new'">
                <list-subject-edits
                    :subject="subject"
                    :key="historyRenderKey"
                ></list-subject-edits>
            </v-tab-item>
        </v-tabs>
    </div>
</template>

<script>
import { marked } from 'marked';
import MarkdownEditor from './MarkdownEditor';
import ListSubjectEdits from './ListSubjectEdits';
import api from 'api';
import errors from '../errors';

export default {
    props: ['subject'],
    data() {
        return {
            activeTab: 0,
            content: '',
            changes: false,
            editorId: '',
            notFound: false,
            historyRenderKey: 0,
        };
    },
    computed: {
        signedIn() {
            return this.$store.state.user.signedIn;
        },
    },
    mounted() {
        this.editorId = 'editor_' + this.subject;
        if (this.subject == '__new') {
            this.activeTab = 1;
            this.content = '';
            this.checkSignedIn();
            if ('subject' in this.$route.query) {
                this.content =
                    '# ' + this.$route.query.subject.replace(/_/g, ' ') + '\n';
                this.changes = true;
            }
        } else {
            this.getSubject();
        }
    },
    filters: {
        readable: (value) => {
            return value.replace(/_/g, ' ');
        },
    },
    methods: {
        getSubject() {
            api.subject
                .get(this.subject)
                .then((content) => {
                    this.$store.commit('removeNewSubject', this.subject);
                    this.content = content;
                })
                .catch((error) => {
                    if (error.includes('not found')) {
                        if (this.$store.getters.isNewSubject(this.subject)) {
                            setTimeout(() => {
                                this.getSubject();
                            }, 200);
                        } else {
                            this.notFound = true;
                        }
                    } else {
                        errors.show(error);
                        this.$router.push('/');
                    }
                });
        },
        render() {
            return marked.parse(this.content);
        },
        getRows(content) {
            return content.split('\n').length;
        },
        getTitle(content) {
            var title = content.split('\n')[0];
            if (!title) {
                return '';
            }
            title = title.replace(/^[# ]+/, '').replace(/ /g, '_');
            return title;
        },
        save() {
            if (this.subject == '__new') {
                var subject = this.getTitle(this.content);
                api.subject
                    .create(subject, this.content)
                    .then(() => {
                        this.$store.commit('addNewSubject', subject);
                        this.$store.commit('setSubjects', { dirty: true });
                        this.$router.push('/wiki/' + subject);
                    })
                    .catch((error) => errors.show(error));
            } else {
                api.subject
                    .edit(this.subject, this.content)
                    .then(() => {
                        this.changes = false;
                        this.activeTab = 0;
                    })
                    .catch((error) => errors.show(error));
            }
        },
        checkSignedIn() {
            if (!this.signedIn) {
                errors.show('not signed in');
            }
        },
        changeContent(newContent) {
            if (newContent !== this.content) {
                this.content = newContent;
                this.changes = true;
            }
        },
        forceRenderHistory() {
            this.historyRenderKey += 1;
        },
        forceRerender() {
            this.forceRerender += 1;
        },
    },
    components: {
        'markdown-editor': MarkdownEditor,
        'list-subject-edits': ListSubjectEdits,
    },
};
</script>
