<template>
    <v-snackbar color="error" :value="count > 0" :timeout="-1" top>
        Error: {{ message }}
        <template v-slot:action="{ attrs }">
            <v-btn @click="close" text v-bind="attrs"
                >Close<template v-if="count > 1">({{ count }})</template></v-btn
            >
        </template>
    </v-snackbar>
</template>

<script>
import errors from '../errors';

export default {
    computed: {
        count() {
            return errors.count();
        },
        message() {
            var s = errors.message();
            if (s) {
                return s.toString().replace('Error: ', '');
            }
            return s;
        },
    },
    methods: {
        close() {
            errors.cancel();
        },
    },
};
</script>
