<template>
    <div>
        <v-list-item @click.stop="dialog = true">
            <v-list-item-action>
                <v-icon v-if="signedIn">{{ icon.account }}</v-icon>
                <v-icon v-if="!signedIn">{{ icon.accountPlus }}</v-icon>
            </v-list-item-action>
            <v-list-item-content>{{ name }}</v-list-item-content>
            <v-dialog v-model="dialog">
                <v-card>
                    <v-card-title>Sign In</v-card-title>
                    <v-card-subtitle>
                        <v-text-field
                            id="input-username"
                            label="username"
                            v-model="dialogName"
                        />
                        <v-text-field
                            id="input-password"
                            label="password"
                            v-model="dialogPassword"
                            type="password"
                        />
                    </v-card-subtitle>
                    <v-card-actions>
                        <v-btn id="btn-signup" @click.stop="signup()"
                            >Sign Up</v-btn
                        >
                        <v-btn id="btn-signin" @click.stop="signin()"
                            >Sign In</v-btn
                        >
                        <v-btn id="btn-signout" @click.stop="signout()"
                            >Sign Out</v-btn
                        >
                    </v-card-actions>
                </v-card>
            </v-dialog>
        </v-list-item>
    </div>
</template>

<script>
import auth from 'auth';
import errors from '../errors';
import { mdiAccount, mdiAccountPlus } from '@mdi/js';

export default {
    data() {
        return {
            refresh: null,
            dialog: false,
            dialogName: '',
            dialogPassword: '',
            icon: {
                account: mdiAccount,
                accountPlus: mdiAccountPlus,
            },
        };
    },
    computed: {
        name() {
            return this.$store.state.user.name;
        },
        signedIn() {
            return this.$store.state.user.signedIn;
        },
        errCount() {
            return errors.count();
        },
    },
    watch: {
        signedIn(val) {
            if (val) {
                if (!this.refresh) {
                    this.refresh = setInterval(() => {
                        auth.refresh()
                            .catch((error) => errors.show(error))
                            .finally(() => {
                                this.setUser();
                            });
                    }, parseInt(process.env.VUE_APP_AUTH_LIFESPAN_MS));
                }
            } else {
                clearInterval(this.refresh);
                this.refresh = null;
            }
        },
        dialog() {
            this.dialogPassword = '';
        },
    },
    mounted() {
        this.setUser();
        if (this.signedIn) {
            auth.refresh()
                .catch(() => {})
                .finally(() => {
                    this.setUser();
                });
        }
    },
    methods: {
        signup() {
            auth.signup(this.dialogName, this.dialogPassword)
                .then(() => (this.dialog = false))
                .catch((error) => errors.show(error))
                .finally(() => {
                    this.setUser();
                });
        },
        signin() {
            auth.signin(this.dialogName, this.dialogPassword)
                .then(() => (this.dialog = false))
                .catch((error) => errors.show(error))
                .finally(() => {
                    this.setUser();
                });
        },
        signout() {
            auth.signout();
            this.dialog = false;
            this.setUser();
        },
        setUser() {
            this.$store.commit('setUser', {
                name: auth.name(),
                signedIn: auth.signedIn(),
            });
        },
    },
};
</script>
