<template>
    <div>
        <h3>Articles: {{ count }}</h3>
        <h3 v-if="!!featuredTitle">
            Featured article:
            <router-link v-bind:to="featuredLink">{{
                featuredTitle
            }}</router-link>
        </h3>
    </div>
</template>

<script>
import api from 'api';
import errors from '../errors';

export default {
    data() {
        return {
            featuredTitle: '',
            featuredLink: '',
        };
    },
    computed: {
        count() {
            return this.$store.state.subjects.count;
        },
    },
    created() {
        api.subject
            .featured()
            .then((subject) => {
                this.featuredTitle = subject.title;
                this.featuredLink = 'wiki/' + subject.subject;
            })
            .catch((error) => {
                errors.show(error);
            });
    },
};
</script>
