<template>
    <show-subject
        v-if="subject"
        v-bind:subject="subject"
        :key="subject"
    ></show-subject>
</template>

<script>
import ShowSubject from '../components/ShowSubject';

export default {
    props: ['subject'],
    components: {
        'show-subject': ShowSubject,
    },
};
</script>
