<template>
    <v-app>
        <v-navigation-drawer v-model="drawer" app>
            <v-list>
                <v-list-item link to="/">
                    <v-list-item-action>
                        <v-icon>{{ icon.home }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>Home</v-list-item-content>
                </v-list-item>
                <user-signin />
                <v-list-item link to="/wiki/__new">
                    <v-list-item-action>
                        <v-icon>{{ icon.plus }}</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>New</v-list-item-content>
                </v-list-item>
                <list-subjects />
            </v-list>
        </v-navigation-drawer>
        <v-app-bar color="primary" dark app>
            <v-app-bar-nav-icon @click.stop="drawer = !drawer">
                <v-icon>{{ icon.menu }}</v-icon></v-app-bar-nav-icon
            >
            <v-toolbar-title>Wiki</v-toolbar-title>
        </v-app-bar>
        <v-main>
            <router-view />
        </v-main>
        <toast-error />
    </v-app>
</template>

<script>
import ListSubjects from './components/ListSubjects';
import UserSignin from './components/UserSignin';
import ToastError from './components/ToastError';
import { mdiHome, mdiMenu, mdiPlus } from '@mdi/js';

export default {
    name: 'App',
    data: () => ({
        drawer: null,
        icon: {
            home: mdiHome,
            menu: mdiMenu,
            plus: mdiPlus,
        },
    }),
    components: {
        'list-subjects': ListSubjects,
        'user-signin': UserSignin,
        'toast-error': ToastError,
    },
};
</script>

// Static font definitions
<style scoped lang="scss">
@if $VUE_APP_SERVE_FONTS == true {
    @font-face {
        font-family: 'Roboto Mono';
        src: url('./assets/fonts/RobotoMono-Regular.woff2') format('woff2'),
            url('./assets/fonts/RobotoMono-Regular.woff') format('woff');
        font-weight: normal;
    }

    @font-face {
        font-family: 'Roboto Mono';
        src: url('./assets/fonts/RobotoMono-Bold.woff2') format('woff2'),
            url('./assets/fonts/RobotoMono-Bold.woff') format('woff');
        font-weight: bold;
    }
} @else {
    @import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700');
}

#app {
    font-family: 'Roboto Mono';
}
</style>
